@import '@/styles/ant.less';

.layoutMenuItem {
    a {
        color: #9C9BBB !important;
        font-size: 20px;
    }

    &:hover {
        a {
            color: #9C9BBB !important;
        }
    }
}

.ant-menu-dark {
    .layoutMenuItem {
        a {
            font-size: 20px;
            color: #9C9BBB !important;
        }

        &:hover {
            a {
                color: #9C9BBB !important;
            }
        }
    }
}

// 覆盖菜单缩起样式
.ant-menu-inline-collapsed {
    .ant-menu-submenu-title {
        width: 100%;
    }

    .ant-menu-submenu-title, .ant-pro-menu-item-title {
        display: inline-block;
        opacity: 0;
    }

    .layoutMenuItem {
        a {
            opacity: 0;
        }
    }
}

.ant-pro-sider-links {
    display: none;
}

// 处理菜单选中和非选中图标
.ant-menu-item-only-child {
    img.noselected {
        display: inherit;
    }

    img.selected {
        display: none;
    }
}

.ant-menu-item-selected {
    img.noselected {
        display: none;
    }

    img.selected {
        display: inherit;
    }
}

// 前进后退路由
.change-router {
    padding-left: 48px;
}

.ant-layout-header {
    height: 76px !important;
    line-height: 76px !important;
}
.logo-region {
    -webkit-app-region: drag;
}

